<div class="flex justify-evenly .w-auto " >

  <div
    class="card w-full max-w-sm shadow-2xl bg-base-100 border-4 mr-10 bg-stone-300"
  >
    <div class="mx-auto max-w-sm text-center">
    <h2 class="mt-8 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Login</h2>
  </div>
    <form class="card-body" id="loginbtn">
      <div class="form-control">
        <label class="label">
          <span class="label-text">Email</span>
        </label>
        <input
          type="email"
          placeholder="email"
          id="email-login"
          class="input input-bordered"
          required
        />
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">Password</span>
        </label>
        <input
          type="password"
          placeholder="password"
          id="password-login"
          class="input input-bordered"
          required
        />
        <label class="label">
          <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
        </label>
      </div>
      <div class="form-control mt-1">
        <button class="btn " id="loginbtn">Login</button>
      </div>
    </form>
  </div>

  <div class="divider"></div>

<div class="card w-full max-w-sm shadow-2xl bg-stone-300">
        <div class="mx-auto max-w-sm text-center">
    <h2 class="mt-8 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Sign Up</h2>
  </div>
      <form class="card-body" id="signupForm">
        <div class="form-control">
          <label class="label">
            <span class="label-text">First Name</span>
          </label>
          <input id = "firstName-signup" type="text" placeholder="first name" class="input input-bordered"/>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Last Name</span>
          </label>
          <input id = "lastName-signup" type="text" placeholder="last name" class="input input-bordered"/>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input id = "email-signup" type="email" placeholder="email" class="input input-bordered"/>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input id ="password-signup" type="password" placeholder="password" class="input input-bordered"/>
        </div>
        <div class="form-control mt-1">
          <button id ="signupbtn" class="btn">sign up</button>
        </div>
      </form>
    </div>


</div>

<script src="/public/js/loginSignup.js"></script>